.contenedor-referencias {
  @extend %contenedor;

  padding: unset;
}

.listado-referencias {
  display: flex;
  flex-direction: column;
  align-items: start;

  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.item-referencia {
  margin-bottom: 1rem;
  text-align: left;
}

.referencia {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}

.boliche-referencia {
  width: 10px;
  height: 10px;
  background-color:$color-contraste;
  display:inline-block;
  margin-top: 0.25rem;
  margin-right: 0.75rem;
  border-radius: 3px;
  flex-shrink: 0;
}

.texto-referencia {
  text-align: left;
}

.enlace-referencia {
  @extend %enlace;

  flex-basis: 100%;
  color: $color-primario;
  margin-left: 3rem;
  text-align: left;
  font-style: italic;
}

