.cita {
  margin-bottom: 2rem;
}

.parrafo-cita {
  text-align: left;
  padding-left: 2.4rem;
  padding-right: 2rem;
  line-height: 1.3;
  margin-bottom: 1.2rem;

  font-family: $font-family-serif;
  font-style: italic;
}

.fuente-cita {
  display: block;
  text-align: right;
  padding-right: 2rem;

  @media (min-width: $mqMinWidthTablet) {
    padding-right: 4rem;
  }
}

@keyframes svg-anim__church {
  30% {
     stroke-dashoffset: 0;
     fill: transparent;
   }
   70% {
     stroke-dashoffset: 0;
     fill: #000;
   }
   100% {
     stroke-dashoffset: 0;
     fill: #000;
   }
}

@keyframes svg-anim__town {
  30% {
     stroke-dashoffset: 0;
     fill: transparent;
   }
   70% {
     stroke-dashoffset: 0;
     fill: #704200;
   }
   100% {
     stroke-dashoffset: 0;
     fill: #704200;
   }
}

@keyframes svg-anim__forest {
  30% {
     stroke-dashoffset: 0;
     fill: transparent;
   }
   70% {
     stroke-dashoffset: 0;
     fill: #006527;
   }
   100% {
     stroke-dashoffset: 0;
     fill: #006527;
   }
  }

.animated-svg{
  width: 100%;
}

.svg-animated__church {
	animation: 5s svg-anim__church forwards ease-in-out;
}

.svg-animated__town {
	animation: 5s svg-anim__town forwards ease-in-out;
}

.svg-animated__forest {
	animation: 5s svg-anim__forest forwards ease-in-out;
}