<footer class="pie">
  <div class="contenedor-pie">
    <div class="contenedor-enlaces">
      <a href="index.html" class="enlace-pie" title="Portada">
        <include src="./assets/images/logo-valdegena.svg"></include>
      </a>
      <ul class="lista-enlaces-pie">
        <li><a href="presentacion.html" class="enlace-pie">Presentación</a></li>
        <li><a href="categorias.html" class="enlace-pie">Categorías</a></li>
        <li><a href="enlaces.html" class="enlace-pie">Enlaces</a></li>
      </ul>
    </div>
    <div>2023 &copy; Universitat Oberta de Catalunya</div>
    <div>Actividad elaborada por Alejandro González Hernández</div>
    <div>Master en Desarrollo de sitios y aplicaciones web</div>
    <div>Asignatura - Herramientas HTML y CSS I</div>
    <div>
      Información elaborada a partir del contenido de las distintas páginas enumeradas en la sección
      <a href="enlaces.html" class="enlace-pie">Enlaces</a>.
    </div>
  </div>
</footer>
