@use "sass:color";

@font-face {
  font-family: Acme;
  src: url(/src/assets/fonts/Acme-Regular.ttf);
}

// @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$font-family-acme: 'Acme', $font-family-sans-serif;

$color-primario: #66275a;
$color-secundario: #fff;
$color-texto: #000;
$color-contraste: rgb(246, 164, 40);

$color-fondo: color.scale($color-primario, $lightness: 35%);
$color-fondo-claro: color.scale($color-primario, $lightness: 50%);


$mqMinWidthTablet: 640px;
$mqMinWidthDesktop: 960px;

$tamanyo-encabezado: 2rem;


$main: $color-fondo;
